<section>
  <h2 class='text-light'>Create New Post</h2>

  <form class='new-post-form text-white'>
    <div>
      <label for='post-title'>Title</label>
      <input type='text' id='post-title' size='45' name='post-title' />
    </div>
    <div>
      <label for='post-text'>Content</label>
      <textarea name='post-text'></textarea>
    </div>
    <button type='submit' class='text-success btn'>Create Post!</button>
  </form>
</section>

<script src='/javascript/add-post.js'></script>